<div class="container">
  <div class="post-card">
    <h2 class="post-title">{{ title }}</h2>
    <p class="post-body">{{ body }}</p>
    <p class="post-user">Posted by {{ user.username }}</p>
    <p class="post-date">{{ format_date created_at }}</p>
  </div>

  <!-- Add a form here to add a new comment -->

  <div class="comments">
    {{#each comments}}
    <div class="comment">
      <p class="comment-body">{{ comment_text }}</p>
      <p class="comment-user">Comment by {{ user.username }}</p>
      <p class="comment-date">{{ format_date created_at }}</p>
    </div>
     {{/each}}
  </div>
</div>